<a href="https://colab.research.google.com/github/Burra-Tarun-Kumar/Assignment/blob/main/9-01-25-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l1=[1,'hi','string',7,'tarun']
print(l1)
print(len(l1))

[1, 'hi', 'string', 7, 'tarun']
5

In [ ]:
l1.append("kumar")

In [ ]:
print(l1)

[1, 'hi', 'string', 7, 'tarun', 'kumar']

In [ ]:
l1[3]

7

# **Insert**

In [ ]:
l1.insert(2,"sars")

In [ ]:
print(l1)

[1, 'hi', 'sars', 'string', 7, 'tarun', 'kumar']

In [ ]:
l2=[45,18,7]

In [ ]:
print(l2)

[45, 18, 7, 1, 'hi', 'sars', 'string', 7, 'tarun', 'kumar']

In [ ]:
as=[7,15,34,90]

In [ ]:
sum(s)

146

In [ ]:
s*2

[7, 15, 34, 90, 7, 15, 34, 90]

In [ ]:
s.pop()

15

In [ ]:
s.pop(0)

7

In [ ]:
s.count

In [ ]:
s.count(90)

0

In [ ]:
print(s)

[]

In [ ]:
s.append(45)

In [ ]:
s.append(78)

In [ ]:
s.append(2)

In [ ]:
print(s)

[45, 78, 2]

In [ ]:
import pandas as pd
screen_time=[2,4,6,7,1]
study_hours=[9,7,3,6,8]
stu_name=["Tarun","Aryan","Chandu","BVR","rohith"]
dict1={
    'screen_time':screen_time,
    'study_hours':study_hours,
    'stu_name':stu_name
}
df=pd.DataFrame(dict1)
print(df)

   screen_time  study_hours stu_name
0            2            9    Tarun
1            4            7    Aryan
2            6            3   Chandu
3            7            6      BVR
4            1            8   rohith

In [ ]:
list=[1,2,3,4,5,6]
res=[i for i in list if i<4]
print(res)
res1=[i for i in list if i%2==0]
print(res1)

[1, 2, 3]
[2, 4, 6]

In [ ]:
keys=["names","age","city"]
values=["banglore",30,"tarun"]
dict1={k:v for k,v in zip(keys,values)}
print(dict1)

{'names': 'banglore', 'age': 30, 'city': 'tarun'}

In [ ]:

add = lambda x, y: x + y
sub = lambda x, y: x - y
mul = lambda x, y: x * y
div = lambda x, y: x + y
x=10
y=2
print(add(x,y))
print(sub(x,y))
print(mul(x,y))
print(div(x,y))

12
8
20
12

In [ ]:
def add(x,y):
    return lambda x, y: x + y
def sub(x,y):
    return lambda x, y: x - y
def mul(x,y):
    return lambda x, y: x * y
def div(x,y):
    return lambda x, y: x / y
x=int(input())
y=int(input())
print(add(x,y)(x,y))
print(sub(x,y)(x,y))
print(mul(x,y)(x,y))
print(div(x,y)(x,y))

12
13
25
-1
156
0.9230769230769231

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
iterate_val=iter(l)
print(iterate_val)

<list_iterator object at 0x7adf299d2da0>

In [ ]:
for i in iterate_val:
  if i%2==0:
      print(i)

In [ ]:
type(iterate_val)

list_iterator

In [ ]:
#check the below code list and dissplay the string where the string letter is A letter or contain a letter in thestring with iterator.

In [ ]:
def square(i):
  for i in  range(i):
    i=i+2
    return i
res=square(5)
print(5)

5

In [ ]:
def square(i):
  for i in  range(i):
    i=i+2
    yield i
res=square(5)
square(5)
for i in square(10):
  print(i)

2
3
4
5
6
7
8
9
10
11

In [1]:
import pandas as pd

In [2]:
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
print(df.head().to_markdown(index=False, numalign="left", stralign="left"))

| Name   | Age   | Department   | Salary   |
|:-------|:------|:-------------|:---------|
| John   | 28    | HR           | 45000    |
| Alice  | 34    | IT           | 60000    |
| Bob    | 23    | Marketing    | 35000    |
| Diana  | 29    | Finance      | 50000    |

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        4 non-null      object
 1   Age         4 non-null      int64
 2   Department  4 non-null      object
 3   Salary      4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes
None